@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

#main {
    margin: 0 auto;
}

#main .box {
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}
#main .pic {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
#main .pic img {
    width: 165px;
}